{% extends "layout/base.html" %}

{% block title %}登录{% endblock %}

{% block styles %}
<style>
  body {
    padding-top: 60px;
  }

  .login-container {
    width: 500px;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrf }}" />
    <div class="mb-3">
      <label for="username" class="form-label">用户名</label>
      <input class="form-control" name="username" id="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">密码</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">登录</button>
  </form>
</div>
{% endblock %}
