@import '~@dx/xbee/color.less';
@import '~less/variables.less';
@import '~less/fn.less';

@import '../common.less';

.register-title {
  .form-title();
  text-align: center;
  margin-bottom: 12px;
}

.password-form {
  :global {
    .xbee-input-affix-wrapper > input.xbee-input {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: 640px) {

}
